body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 200%;
    color: #40514E;
}

h1 {
    margin: 50px auto 0 auto;                /* margin-top: 50px; */
    font-size: 5.625rem;            /*rem: rootem means ignore all the parent settings/  Dynamic size/ 16px - 90px/16px -- 5.625 */
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    /* 1em = 16px */
    /* width: 10%; */
    /* margin: 0 auto;   top/bottom & left/right  margin:  0 auto 0 auto;*/ 
    /* font-family: ; */
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 2;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

hr {
    margin: 100px auto;
    border: none;
    border-style: none;
    border-top: dotted;
    border-color: #B5EAEA;
    border-width: 5px;
    width: 5%;
}

p {
    font-size: 70%;
    line-height: 2;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.intro {
    width: 30%;
    margin: auto;
}

.top-cloud {
    position: absolute;
    right:  300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.myimg {
    height: 200px;
}

.code-img {
    width: 50%;
    /* margin */
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.certified-img {
    width: 50%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
}


a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 1.50rem;
}

a:hover {
    color: #EAF6F6;
}

.contact-msg {
    width: 40%;
    margin: 40px auto 0;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.90rem;
    padding: 20px 0;
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.sub-title {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 10px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview img {
    width: 400px;
    height: auto;
    border-radius: 10%;
}

.view {
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    border-radius: 50px;
    font-family: Arial;
    color: #000000;
    font-size: 25px;
    background: #30e3cb;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.view:hover {
    background: #2bc4ad;
    text-decoration: none;
}

.view a {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
